<% if @question_type.name == 'multiple choice' %>
<div id="questions-sidebar">
  <div id="question-header">
    <h3><%= @question_type.name.titleize %></h3>
  </div>
  <div id="#question-container">
    <%= simple_form_for [@routine, @question], remote: true do |f| %>
      <%= f.error_notification %>
      <%= f.input :name, input_html: { class: "name-input" } %>
      <%= f.hidden_field :question_type_id, value: @question_type.id %>
  </div>
  <div id="options-container">
    <% if @question_type.name == 'multiple choice' %>
      <p>Choices</p>
      <%= f.simple_fields_for :question_choice do |choice| %>
      <div id="choice-inputs">
          <%= render 'question_choice_fields', f: choice %>
      </div>
      <% end %>
      <div class="links">
        <%= link_to_add_association f, :question_choices do %>
          <i class="fa fa-plus" aria-hidden="true"></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id="buttons-container" class="vbottom">
    <%= f.button :submit, 'Save', class: "btn btn-routine btn-scooter-light" %>
    <div class="btn btn-routine btn-scooter-light" data-dismiss="modal">Cancel</div>
    <% end %>
  </div>
</div>

<div id="#question-preview"></div>


<% else %>

  <div class="new-question-container">
    <%= simple_form_for [@routine, @question], remote: true do |f| %>
    <%= f.input :name, input_html: { class: "name-input" } %>
    <%= f.hidden_field :question_type_id, value: @question_type.id %>
    <div>
      <%= f.button :submit, 'Save', class: "btn btn-routine btn-scooter-light" %>
      <div class="btn btn-routine btn-scooter-light" data-dismiss="modal">Cancel</div>
    </div>
    <% end %>
  </div>


<% end %>
