<div id=<%= "question-#{question.id}" %> class="question-row" data-id="<%= question.id %>">
    <div class="question-box question-position"><%= question.position %></div>
    <div class="question-box question-body">
      <div class="question-name">
        <%= question.name %>
      </div>
      <div class="question-tools">
        <%= link_to edit_routine_question_path(@routine, question), class: "tooltip--triangle", target: 'blank', titletool:'Edit Question', 'data-toggle' => 'tooltip', remote: true do %>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end %>
        <span class="draggable">
          <i class="fa fa-arrows" aria-hidden="true"></i>
        </span>
        <% if !@routine.exists?(question) %>
          <%= link_to routine_question_path(@routine, question), class: "tooltip--triangle", target: 'blank', titletool:'Delete Question', 'data-toggle' => 'tooltip', method: :delete, remote: true do %>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          <% end %>
        <% else %>
          <span class="disabbled">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </span>
        <% end %>
      </div>
    </div>
</div>

