<div class="container">
  <div class="row">
    <div class="col-xs-3 profile-sidebar">
      <h3>Edit Profile</h3>
      <p>
      <%= "Member since #{current_user.member_since}" %>
      </p>
    </div>
    <div class="col-xs-8 profile-editor">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name  %>
        <%= f.input :last_name  %>
        <%= f.input :email, required: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
        <%= f.input :password_confirmation, required: false %>
        <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Save", class: "btn btn-routine btn-routine-submit" %>
        <%= link_to "Cancel", :back, class: "btn btn-routine btn-scooter-inverse" %>
      </div>
    <% end %>
    </div>
  </div>
</div>



