<%= link_to image_tag("logo-brand-color.png"), root_path %>

<div class="social-media-authentication">
  <p>Sign up with...</p>
  <%= link_to user_google_oauth2_omniauth_authorize_path, class: "social-media-button valencia-red" do %>
    <i class="fa fa-google-plus"></i>
  <% end %>

  <%= link_to user_linkedin_omniauth_authorize_path, class: "social-media-button light-blue" do%>
    <i class="fa fa-linkedin"></i>
  <% end %>

  <%= link_to user_facebook_omniauth_authorize_path, class: "social-media-button dark-blue" do %>
    <i class="fa fa-facebook-f"></i>
  <% end %>

  <%= link_to user_github_omniauth_authorize_path, class: "social-media-button dark-grey" do %>
    <i class="fa fa-github"></i>
  <% end %>
  <p>or use your email:</p>
</div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true, placeholder: "E-mail", label: false %>
    <%= f.input :password, required: true, placeholder: "Password", label: false %>

    <%= f.input :password_confirmation, required: true, placeholder: "Password", label: "Confirm your password" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "btn btn-routine btn-signup-submit btn-full-w" %>
  </div>
<% end %>
<hr>
<div class="signup-login-switch">
  <p>Already have an account?</p>
  <%= link_to "Log in", new_session_path(resource_name), class: "btn btn-routine btn-scooter-inverse" %>
</div>

