<div class="routine-subnav">
  <div class="subnav-row">
    <%= link_to answer_path(@routine.previous_day(@answer.created_at)) do %>
      <%= inline_svg("arrow_left.svg", class: "navigation-arrow") %>
    <% end %>
    <div class="subnav-body"><h1><%= @routine.name %><h1></div>

    <%= form_tag(answer_goto_show_path(@answer), method: :put, id: "datepicker") do %>
      <input type="text" name="date" data-type="date" id="date-input" placeholder="Go to date" readOnly/>
    <% end %>
    <!-- <div id="material-header-holder" style="display:none">
      <div class="ui-datepicker-material-header">
        <div class="ui-datepicker-material-day">
        </div>
        <div class="ui-datepicker-material-date">
          <div class="ui-datepicker-material-month">
          </div>
          <div class="ui-datepicker-material-day-num">
          </div>
          <div class="ui-datepicker-material-year">
          </div>
        </div>
      </div>
    </div> -->

    <% if @answer.today? %>
      <%= inline_svg("arrow_right.svg", class: "navigation-arrow-nohover") %>
    <% else %>
      <%= link_to answer_path(@routine.next_day(@answer.created_at)) do %>
        <%= inline_svg("arrow_right.svg", class: "navigation-arrow") %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="answer-form-container">
  <h2>
    <%= current_user.greetings %>
  </h2>
  <p>Your answers for <%= @answer.date %>:</p>
  <div id="answer-form">
    <ul class="questions">
      <% @questions.each do | question| %>
        <%= render "form_views/#{question.type.gsub(" ", "_")}", question: question %>
      <% end %>
    </ul>
    <div id="buttons">
      <button type="submit" class="btn btn-routine btn-pill  btn-scooter-light">
              <span>Save</span>
      </button>
      <%= link_to "Edit Form", routine_editor_path(@routine), class: "btn btn-routine btn-pill btn-scooter-light"  %>
      <%= link_to "Edit Answers", answer_fields_path(@answer), class: "btn btn-routine btn-pill btn-scooter-light"  %>
    </div>
    </form>
  </div>
</div>
