<div class="routine-subnav">
  <div class="subnav-row">
    <%= link_to answer_fields_path(@routine.previous_day(@answer.created_at)) do %>
      <%= inline_svg("arrow_left.svg", class: "navigation-arrow") %>
    <% end %>
    <div class="subnav-body"><h1><%= @routine.name %><h1></div>

    <input type="text" data-type="date" id="date-input" placeholder="Go to date" />
    <!-- <div id="material-header-holder" style="display:none">
      <div class="ui-datepicker-material-header">
        <div class="ui-datepicker-material-day">
        </div>
        <div class="ui-datepicker-material-date">
          <div class="ui-datepicker-material-month">
          </div>
          <div class="ui-datepicker-material-day-num">
          </div>
          <div class="ui-datepicker-material-year">
          </div>
        </div>
      </div>
    </div> -->

    <% if @answer.today? %>
      <%= inline_svg("arrow_right.svg", class: "navigation-arrow") %>
    <% else %>
      <%= link_to answer_fields_path(@routine.next_day(@answer.created_at)) do %>
        <%= inline_svg("arrow_right.svg", class: "navigation-arrow") %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="answer-form-container">
  <h2>
    <%= current_user.greetings %>
  </h2>
  <p>Your answers for <%= @answer.date %></p>
  <div id="answer-form">
    <%= form_tag("/answers/#{@answer.id}", method: :patch) %>
    <ul class="questions">
      <% @questions.each do | question| %>
        <%= render "forms/#{question.type.gsub(" ", "_")}", question: question %>
      <% end %>
    </ul>
    <button type="submit" class="btn btn-routine btn-signup-submit">
            <span>Save</span>
    </button>
    </form>
  </div>
</div>
