<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta property="og:title" content="Routine.io - Design Your Day, Master Your Life">
  <meta property="og:image" content="<%= image_tag "fb_metatag_img.png" %>">
  <meta property="og:description" content="Kepp track of your days in a flexible and simple manner. You will be amazed by the power of Routine.io. Start today.">
  <meta property="og:site_name" content="Routine.io"/>
  <title>
    <% if yield(:title).present? %>
    <%= yield(:title) %>
    <% else %>
    Routine.io
    <% end %>
  </title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>
<body>
  <%= render 'shared/navbar' %>
 <!-- <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->
  <div class="page-wrapper padded-top padded-bottom">
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<%= yield(:after_js)  %>
  </div>
  <%= render 'shared/footer' %>
</body>
</html>

